services:
    ydfs2.10-modules-fast64:
        image: yledoare/ydfs-2.10
        volumes:
            - $HOME/2.10-modules/ydfs:/home/linuxconsole2024/ydfs
            - $HOME/2.10-modules/opkg:/home/linuxconsole2024/opkg
            - $HOME/iso:/home/linuxconsole2024/iso
            - $HOME/2.10-modules/kde:/home/linuxconsole2024/kde
            - $HOME/2.10-modules/mate:/home/linuxconsole2024/mate
            - $HOME/2.10-modules/kodi:/home/linuxconsole2024/kodi
            - $HOME/2.10-modules/virtualbox:/home/linuxconsole2024/virtualbox
            - $HOME/2.10-modules/x86_64:/home/linuxconsole2024/x86_64
            - $HOME/2.10-modules/devtools:/home/linuxconsole2024/devtools
            - $HOME/2.10-modules/erp:/home/linuxconsole2024/erp
            - ${PWD}:/2.10
        environment:
            BUILDYDFS: "fast"
            YDFS_ARCH: "x86_64"
            HOMEBUILD: "$HOME/2.10-modules"
            SLEEPTIME: 1
        security_opt:
            - seccomp:unconfined

