services:

    musicOS-2024-fast:
      #user: "${USER_ID}:${GROUP_ID}"
        image: yledoare/ydfs-2.10
        volumes:
            - $HOME/musicOS/ydfs:/home/linuxconsole2024/ydfs
            - $HOME/iso:/home/linuxconsole2024/iso
            - $HOME/musicOS/mate:/home/linuxconsole2024/mate
            - $HOME/musicOS/musicOS:/home/linuxconsole2024/musicOS
            - $HOME/musicOS/x86_64:/home/linuxconsole2024/x86_64
            - ${PWD}:/2.10
        environment:
            BUILDYDFS: "fast"
            HOMEBUILD: "$HOME/musicOS"
            SLEEPTIME: 1
        security_opt:
            - seccomp:unconfined

    musicOS-2024:
        image: yledoare/ydfs-2.10
        volumes:
            - $HOME/musicOS/ydfs:/home/linuxconsole2024/ydfs
            - $HOME/iso:/home/linuxconsole2024/iso
            - $HOME/musicOS/x86_64:/home/linuxconsole2024/x86_64
            - ${PWD}:/2.10
        environment:
            SLEEPTIME: 1
        security_opt:
            - seccomp:unconfined
