services:
    ydfs2.10-modules-fast:
        image: yledoare/ydfs-2.10
        volumes:
            - $HOME/2.10-modules/ydfs:/home/linuxconsole2024/ydfs
            - $HOME/iso:/home/linuxconsole2024/iso
            - $HOME/2.10-modules/kde:/home/linuxconsole2024/kde
            - $HOME/2.10-modules/mate:/home/linuxconsole2024/mate
            - $HOME/2.10-modules/virtualbox:/home/linuxconsole2024/virtualbox
            - $HOME/2.10-modules/x86_64:/home/linuxconsole2024/x86_64
            - ${PWD}:/2.10
        environment:
            BUILDYDFS: "fast"
            HOMEBUILD: "$HOME/2.10-modules"
            SLEEPTIME: 1
        security_opt:
            - seccomp:unconfined

